<div class="container-fluid">
  <h1 class="text-center mt-2"> {{pokemonName}}</h1>
  <img class="pokemonImage" src="{{pokemonImage}}" alt="A photo of the Pokemon {{pokemonName}}">
    <h2 class="text-center mt-2 pb-2">Update Pokemon</h2>
    <div class="pokemon-form-errors" *ngIf="!this.form.valid && !hasSubmittedSuccessfully">
        <span>{{pokemonNameFrontendValidationMessage}}</span>
        <span>{{pokemonImageFrontendValidationMessage}}</span>
    </div>
    <div class="pokemon-form-errors" *ngIf="hasFormErrors && this.form.valid">
        <span *ngIf="pokemonFormErrors.errors.pokemonName !== undefined">{{pokemonFormErrors.errors.pokemonName.message}}</span>
        <span *ngIf="pokemonFormErrors.errors.pokemonImage !== undefined">{{pokemonFormErrors.errors.pokemonImage.message}}</span>
    </div>
    <div class="mb-3" *ngIf="hasSubmittedSuccessfully">
        <span class="success-message">{{successMessage}}</span>
    </div>
    <form [formGroup]="form">
        <div class="mt-2 mb-3">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="{{pokemonName}}" [formControl]="form.controls.pokemonNameFrontendValidation" (change) = "submittedPokemonName($event)">
            </div>
            <div class="mb-3">
                <input class="form-control" #fileInput type="file" (change) = "submittedPokemonImage($event)" [formControl]="form.controls.pokemonImageFrontendValidation" >
            </div>
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Update Pokemon</button>
        </div>
    </form>
</div>

