<nav class="navbar navbar-light bg-light">
    <div class="text-center">
        <a class="btn btn-outline-secondary" routerLink="/">Home</a>
        <a class="btn btn-outline-success" routerLink="/create">Create Pokemon</a>
        <a class="btn btn-outline-info" routerLink="/show">Show All Pokemon</a>
        <a class="btn btn-outline-primary" routerLink="/show">Update Pokemon</a>
        <a class="btn btn-outline-danger" routerLink="/show">Delete Pokemon</a>
    </div>
</nav>
<router-outlet></router-outlet>
