<div class="container-fluid">
    <div class="pokemon-form-errors" *ngIf="hasFormErrors">
        <span *ngIf="pokemonFormErrors.errors.pokemonName !== undefined">{{pokemonFormErrors.errors.pokemonName.message}}</span>
        <span *ngIf="pokemonFormErrors.errors.pokemonImage !== undefined">{{pokemonFormErrors.errors.pokemonImage.message}}</span>
    </div>
    <div class="mb-3" *ngIf="hasSubmittedSuccessfully">
        <span>{{successMessage}}</span>
    </div>
    <h1>Create Pokemon Component</h1>
    <form>
        <div class="mb-3">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Pokemon Name" name="pokemonName" [(ngModel)]="submittedPokemon.pokemonName">
            </div>
            <div class="mb-3">
                <input class="form-control" type="file" name="image" (change) = "selectImage($event)">
            </div>
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit Pokemon</button>
        </div>
    </form>
</div>

